.head {
    padding-bottom: 0px;
    margin-bottom: 2rem;
    border-bottom: 0.1rem;

    border-color: rgb(70, 70, 70);
    border-bottom-style: solid;

}

.head .title {
    margin-bottom: 1.2rem;
}

.head .description {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.posts {
  
}

.post {
    padding: 1rem;
    margin-bottom: 1rem;
    
    border-style: solid;
    border-radius: 8px;

    background-color: rgb(48, 48, 48);;
}

.postLength {
    font-size: 0.94rem;

    color: rgb(89, 89, 89);
}

.upload {
    font-size: 0.9rem;

    color: rgba(255, 255, 255, 0.629);;
}