.head {
    padding-bottom: 2px;
    margin-bottom: 20px;
    border-bottom: 1px;

    border-color: rgb(70, 70, 70);
    border-bottom-style: solid;

}

.head .title {
    align-items: end;
}



.head .description {
    margin-top: 20px;
    
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.posts {
  
}

.post {
    background-color: rgb(48, 48, 48);;
}

.postLength {
    font-size: 16px;
    color: rgb(89, 89, 89);
}