.head {
    padding-bottom: 0px;
    margin-bottom: 2rem;
    border-bottom: 0.1rem;

    border-bottom: 1px solid var(--borderColor);

}

.head .title {
    margin-bottom: 1.2rem;
}

.head .description {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.postLength {
    font-size: 0.94rem;

    color: var(--fade-textColor);
}


.post {
    padding: 0.7rem;
    margin-bottom: 1rem;
    
    border-style: solid;
    border-radius: 8px;
    
    border-color: var(--normal-textColor);
    
    background-color: var(--boxColor)
    
}

.postName {
    display: inline;
    text-decoration: none;
    color: var(--normal-textColor);
}

.uploadDate {
    font-size: 0.9rem;
    color: var(--normal-textColor);
    
    display: block;
}

.tags {
    float: right;
}

.tag {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;

    margin-right: 0.2rem;
    
    border: 2px solid black;
    border-radius: 8px;

    color: black;
    background-color: white;
    text-align: center;
}   
