.title {
    margin-bottom: 2px;
}

.tags {
    margin-bottom: 10px;
}

.tag {
    margin-right: 0.25rem;
    
}

.index {
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;

    background: #2c2f33;

    margin-bottom: 40px;
}

.index ul {
    padding-left: 0;
    margin: 0;

    list-style: none;
}
.index li {
    margin-bottom: 0.3rem;
}
.index li.level-3 {
    margin-left: 1rem;
    font-size: 0.85em;
}
.index a {
    color: #ccc;
    text-decoration: none;
}
.index a:hover {
    text-decoration: underline;
}