:root {
  --sidebar-width: 250px;
  --navbar-height: 50px;

  --bgColor: #ffffff;
  --textColor: #000000;
  --hover-color: #00b3ff;

  --bar-color: #8f7878;
}

:root[theme='dark'] {
  --bgColor: #373C3F;
  --textColor: #ffffff;

  --bar-color: #232323;
}

/* 전체 레이아웃 */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  background-color: var(--bgColor);
  color: var(--textColor);

  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}

/* 본문 영역 */
main {
  margin-left: var(--sidebar-width);
  padding: 4rem 2.6rem;
  flex-grow: 1;
}

/* 사이드바 전용 (넓을 때만 보임) */
.sidebar-only {
  display: block;
}

/* 네비게이션 전용 (기본은 숨김) */
.navbar-only {
  display: none;
}

/* 반응형 처리 */
@media (max-width: 700px) {
  body {
    flex-direction: column;
  }

  main {
    margin-left: 0 !important;
  }

  .sidebar-only {
    display: none !important;
  }

  .navbar-only {
    display: block !important;
  }
}
