:root {
  --sidebar-width: 250px;
  --navbar-height: 50px;

  --bgColor: #ffffff; /*배경색*/
  
  --normal-textColor: #000000; /*일반 텍스트 색상*/
  --hover-textColor: #00b3ff; /*하이퍼 링크 호버 색상*/
  --fade-textColor: #5a5a5a; /*흐릿한 글자 색상*/
  --borderColor: #353535; /*섹션을 나누는 선 색상*/
}

:root[theme='dark'] {
  --bgColor: #373C3F;
  --normal-textColor: #ffffff;
  --fade-textColor: #b3b3b3;
  --borderColor: #aeaeae; 
}

/* 전체 레이아웃 */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  background-color: var(--bgColor);
  color: var(--normal-textColor);

  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}

a {
  text-decoration: none;
}

a :hover {
  color: var(--hover-textColor);
  text-decoration: none;
  font-weight: bold;
}


/* 본문 영역 */
main {
  margin-left: var(--sidebar-width);
  padding: 4rem 2.6rem;
  flex-grow: 1;
}

/* 사이드바 전용 (넓을 때만 보임) */
.sidebar-only {
  display: block;
}

/* 네비게이션 전용 (기본은 숨김) */
.navbar-only {
  display: none;
}

/* 반응형 처리 */
@media (max-width: 700px) {
  body {
    flex-direction: column;
  }

  main {
    margin-left: 0 !important;
  }

  .sidebar-only {
    display: none !important;
  }

  .navbar-only {
    display: block !important;
  }
}
