.title {
    margin-bottom: 2rem;
}

.seriesName {
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.series-description {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.799);
}

.postName {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: end-auto
}

.postsCount {
    color: rgba(255, 255, 255, 0.5);
}