/* 내부 영역 */
.sidebar {
  height: 100%;
  width: var(--sidebar-width);
  top: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow-y: auto;
  z-index: 1000;

  border-right: 1px solid var(--borderColor);
  
  box-shadow: rgba(0, 0, 0, 0.5);
}

.profile {
  margin-top: 2rem;
  text-align: center;
}

.profile .profileImg {
  margin-bottom: 0.7rem;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.profile .nickname {
  margin-bottom: 6px;
  cursor: pointer;
}

.profile .email {
  display: block;
  margin-bottom: 0.4rem;
}

/* 링크 스타일 */
.profile .sns-icons i {
  display: inline;
  font-size: 20px;
  color: var(--text-color);
}

.sidebar-menu li {
  margin-bottom: 0.4rem;
}

.sidebar-menu a {
  color: var(--text-color);
  text-decoration: none;
}

.sidebar-head {
  color: var(--text-color);
}
