:root {
  --sidebar-bg: #8f7878;
  --text-color: #fff;
  --shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

/* 내부 영역 */
.sidebar {
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--sidebar-bg);
  color: var(--text-color);
  box-shadow: var(--shadow);
  z-index: 1000;
}

.profile {
  text-align: center;
  margin-top: 2rem;
}

.profile .nickname {
  margin-bottom: 6px;
}

.profile .email {
  display: block;
  margin-bottom: 12px;
}

/* 링크 스타일 */
.sns-icons i {
  font-size: 20px;
  color: var(--text-color);
}
.sidebar-menu li {
  margin: 6px 0;
}

.sidebar-menu a,
.page-links a {
  color: var(--text-color);
  text-decoration: none;
}

.sidebar-menu a:hover,
.page-links a:hover {
  text-decoration: underline;
}

.sidebar-head {
 	font-size: 20px
}

.email {
  color: inherit;         /* 부모 요소 글자색 따라감 */
  text-decoration: none;  /* 밑줄 제거 */
}