
:root {
    --blockquote-color: rgb(124, 199, 113);
}

:root[theme='dark'] {
    --blockquote-color: rgb(255, 199, 67);
}

.markdown-body img {
  display: block;
  max-width: 52%;
  max-height: 28vh;       /* 너무 큰 정사각형 이미지 제한 */
  width: auto;
  height: auto;
  margin: 1rem 0;         /* 중앙 정렬 ❌ → 좌측 정렬 유지 */
  object-fit: contain;
}

.markdown-body h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #868686;

  font-size: 1.7rem;
}

.markdown-body h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;

  font-size: 1.4rem;
}

/*인용 블럭*/
.markdown-body blockquote {
  margin-bottom: 2rem;
  margin-top: 2rem;
  
  padding-left: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;

  border-left: 5px solid var(--blockquote-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #b2b2b232;
}

/*인용 블럭 내 글*/
.markdown-body blockquote p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.markdown-body table {
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 0.95rem;
}

.markdown-body th,
.markdown-body td {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.markdown-body thead {
  font-weight: bold;
  text-align: center;
  color: var(--textColor);
}

/*코드 영역*/
pre {
  border-radius: 8px;
  padding: 1rem;
}

/*수식*/
.MathJax {
  
}