
:root {
    --blockquote-color: rgb(124, 199, 113);
}

:root[theme='dark'] {
    --blockquote-color: rgb(255, 199, 67);
}

.markdown-body img {
    display: block;
    max-width: 70%;
    margin: 1rem 0;
    height: auto;
}

.markdown-body h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #868686;

  font-size: 1.7rem;
}

.markdown-body h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;

  font-size: 1.4rem;
}

.markdown-body blockquote {
  border-left: 4px solid var(--blockquote-color);
  padding-left: 1rem;
  
  margin: 1rem 0;
  font-weight: bold;
  font-style: italic;
}

.markdown-body table {
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 0.95rem;
}

.markdown-body th,
.markdown-body td {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.markdown-body thead {
  font-weight: bold;
  text-align: center;
  color: var(--textColor);
}

/*코드 영역*/
pre {
  border-radius: 8px;
  padding: 1rem;
}